* {
    box-sizing: border-box;
    /* border:1px solid black; */
}

body {
    margin: 0;
    background-color: #e8e8ee;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: whitesmoke;
    /* background-color: rgb(6, 6, 36); */
    background-color: #100e08;
    margin-top: 0;
}

.desc-img {
    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 0;
    border: 2px solid #100e08;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* background-color: antiquewhite; */
    padding: 0;
    width: 90%;
    margin: 10px auto;
    list-style: none;
}

li>a {
    display: block;
    background: #100e08;
    color: white;
    text-decoration: none;
    padding: 0.8em max(1em,2vw) ;
    margin: 0.8em 1em;
    text-align: center;
    width: 100%;
    margin: 1em auto;
    font-size: 1.1em;
    font-family: 'Courier New', Courier, monospace ;
    border-radius: 8px;
    min-width: 16em;
}